[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
google-api-python-client = "*"
dotenv = "*"
ffmpeg = "*"
yt-dlp = "*"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.13"
